<a
  href="#"
  class="list-group-item clearfix"
  (click)="handleOnClick()"
>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{recipeItem.name}}</h4>
    <p class="list-group-item-text">{{recipeItem.description}}</p>
  </div>
  <span class="pull-right">
          <!--          string string interpolation-->
    <!--          src="{{ recipe.imagePath }}"-->
    <!--          the one below is property binding-->
          <img
            [src]="recipeItem.imagePath"
            alt="{{ recipeItem.name }}"
            class="img-responsive"
            style="max-height: 50px;
            max-width: 50px;"
          >
        </span>
</a>
